@page
@model Work_IO_UI.Pages.Empresas.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de la Empresa</h1>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Id:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Id)
        </dd>
        <dt class="col-sm-2">
            Nombre:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Nombre)
        </dd>
        <dt class="col-sm-2">
            Dirección:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Direccion)
        </dd>
        <dt class="col-sm-2">
            Correo electrónico:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Correo)
        </dd>
        <dt class="col-sm-2">
            Número telefónico:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Numero)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-page="/Empresas/Edit">Editar</a> |
    <a class="btn btn-light" asp-page="/Empresas/Index">Regresar</a>
</div>

