@page
@model Work_IO_UI.Pages.Empresas.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Empresas Registradas</h1>
@if (Model.Empresas.Any())
{  <table class="table">
        <!--Head-->
        <thead class="thead-dark">
            <tr>
                <th>
                    Empresa Id:
                </th>
                <th>
                    Nombre:
                </th>
                <th>
                    Dirección:
                </th>
                <th>
                    Número telefónico:
                </th>
                <th>
                    Correo electrónico:
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Empresas)
            {
                <tr>
                    <th scope="row">@Html.DisplayFor(m => item.Id)</th>
                    <td>@Html.DisplayFor(m => item.Nombre)</td>
                    <td>@Html.DisplayFor(m => item.Direccion)</td>
                    <td>@Html.DisplayFor(m => item.Numero)</td>
                    <td>@Html.DisplayFor(m => item.Correo)</td>
                    <td>
                        <a class="btn btn-warning" asp-page="/Empresas/Edit" asp-route-id="@item.Id" type="button">Detalles</a> |
                        <a asp-page="/Menu" class="btn btn-light m-2">Regresar</a>
                    </td>



                </tr>
            }
        </tbody>
</table>
 }







