@page
@model Work_IO_UI.Pages.Empresas.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Empresas Registradas</h1>
@if (Model.Empresas.Any())
{<table class="table table-info table-striped">
        <!--Head-->
        <thead class="thead-dark">
            <tr>
                <th scope="col">@Html.DisplayNameFor(x => x.Empresas.FirstOrDefault().Id)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.Empresas.FirstOrDefault().Nombre)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.Empresas.FirstOrDefault().Direccion)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.Empresas.FirstOrDefault().Numero)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.Empresas.FirstOrDefault().Correo)</th>


                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Empresas)
            {
                <tr>
                    <th scope="row">@Html.DisplayFor(m => item.Id)</th>
                    <td>@Html.DisplayFor(m => item.Nombre)</td>
                    <td>@Html.DisplayFor(m => item.Direccion)</td>
                    <td>@Html.DisplayFor(m => item.Numero)</td>
                    <td>@Html.DisplayFor(m => item.Correo)</td>
                    <td><a class="btn btn-success" asp-page="/Empresas/Details" type="button">Detalles</a></td>
                    <td><a class="btn btn-warning" asp-page="/Empresas/Edit" type="button">Editar</a></td>
                    <td><a class="btn btn-danger" asp-page="/Empresas/Delete" type="button">Eliminar</a></td>
                </tr>
            }
        </tbody>



    </table>
}







