@page
@model Work_IO_UI.Pages.Ordenes.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Ordenes Registradas</h1>
@if (Model.Ordenes.Any())
{<table class="table">
        <!--Head-->
        <thead class="thead-dark">
            <tr>
                <th>
                    Orden Id:
                </th>
                <th>
                    Fecha de creación:
                </th>
               <th>
                   Empresa al que pertenece:
               </th>
                <th>
                    Asesor al que pertenece:
                </th>
                <th>
                    Tipo de Vacante:
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Ordenes)
            {
                   <tr>
                     <th scope="row">@Html.DisplayFor(m => item.Id)</th>
                     <th>@Html.DisplayFor(m => item.CreatedAT)</th>
                     <td>@Html.DisplayFor(m => item.EmpresaId)</td>
                     <td>@Html.DisplayFor(m => item.AsesorId)</td>
                     <td>@Html.DisplayFor(m => item.TipoVacante)</td>
                     <td>
                         <a class="btn btn-warning" asp-page="/Empresas/Edit" asp-route-id="@item.Id" type="button">Detalles</a> |
                         <a asp-page="/Menu" class="btn btn-light m-2">Regresar</a>
                     </td>
                   </tr>
             }
        </tbody>
    </table>
 }

